/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  /* Quitamos el width y max-widthpara que el contenedor pueda ocupar todo el ancho del dispositivo/navegador
  width: 80%;
  max-width: 750px; */
  margin: 0 auto;
  background: #23424a;
  color: white;
  padding: 50px 0;
}

.intro-content {
  width: 50%;
  /* Agrego margen a los lados 15% para que el contenido no se pegue a los bordes */
  margin: 0 15%;
}

.side-margin{
  /* Agrego margen a los lados para que los parrafos queden alineados con el contenido superior */
  margin-left: 15%;
  margin-right: 15%;
}